.card__item-like-button_active {
    width: 22px;
    height: 19px;
    margin: 0;
    background-image: url("../../../../images/Union.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    background-color: transparent;
}

.card__item-like-button:hover {
    opacity: 0.6;
    cursor: pointer;
}
