.popup__save-button {
    width: calc(100% - (36px + 36px));
    height: 50px;
    background: #000000;
    border-radius: 2px;
    margin: 20px 36px 37px 36px;
    color: #FFFFFF;
    border: rgba(0, 0, 0, 0);
    padding: 0;
}

.popup__save-button:hover {
    opacity: .8;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__save-button {
        width: calc(100% - 44px);
        margin: 45px 22px 25px 22px;
        height: 46px;
        font-size: 14px;
    }
}