.popup__save-button_disabled {
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    color: #000000;
}

.popup__save-button_disabled:hover {
    opacity: 1;
    cursor: not-allowed;
}

