.profile {
    padding: 40px 200px 0 200px;
    display: flex;
    width: calc(100% - 400px);
}

@media screen and (max-width: 1023px) {
    .profile {
        flex-direction: column;
        width: calc(100% - (19px + 19px));
        padding: 42px 19px 0 19px;
        align-items: center;
        justify-content: space-between;
    }
}