.popup__form-title {
    max-width: 330px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 34px auto 0 36px;
    padding-bottom: 47px;
}

@media screen and (max-width: 767px) {
    .popup__form-title {
        width: calc(100% - 44px);
        font-size: 18px;
        line-height: 22px;
        margin-top: 25px;
        margin-left: 22px;
        padding-bottom: 75px;
    }
}