.footer__text {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .footer__text {
        text-align: start;
    }
}

@media screen and (max-width: 500px) {
    .footer__text {
        font-size: 14px;
    }
}