.form__input {
    width: 100%;
    max-height: 27px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin: 0 0 30px 0;
    padding: 0 0 14px 0;
}

.form__input:last-of-type {
    margin: 0;
}

.form__input::target-text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.form__input::placeholder {
    padding-top: 14px;
    max-width: 358px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.form__input::-webkit-input-placeholder {
    max-width: 358px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}


.form__input:-moz-placeholder {
    max-width: 358px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

@media screen and (max-width: 767px) {
    .form__input {
        width: calc(100% - 44px);
    }
}