.popup__save-button {
    width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    margin: 48px 36px 37px 36px;
    color: #FFFFFF;
}

.popup__save-button:hover {
    opacity: .8;
    cursor: pointer;
}