.popup__form-container {
    box-sizing: border-box;
    max-width: 430px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: 195px auto auto auto;
    align-items: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
}

@media screen and (max-width: 767px) {
    .popup__form-container {
        width: calc(100% - (19px + 19px));

    }

}